Repository commaai/panda, pull requests merged in 2021-06, with the labels that each got.

#671 Remove non-EON panda build
  Dockerfile
  Jenkinsfile
  README.md
  board/SConscript
  board/boards/white.h
  board/main.c
  board/main_declarations.h
  python/__init__.py
  run_automated_tests.sh
  tests/automated/test.sh
  tests/misra/test_misra.sh
Labels: refactor

#662 Extra checks for Honda Bosch Longitudinal
  board/safety/safety_honda.h
  python/__init__.py
  tests/safety/test_honda.py
Labels: car safety

#629 New tesla safety
  board/safety.h
  board/safety/safety_tesla.h
  tests/safety/test_tesla.py
  tests/safety_replay/test_safety_replay.py
Labels: car safety

#674 Enable siren when heartbeat is lost
  board/main.c
  board/main_declarations.h
Labels: enhancement
