Repository commaai/panda, pull requests merged in 2021-12, with the labels that each got.

#796 Fix MISRA violations 10.1 and 10.4
  board/can_definitions.h
  board/drivers/bxcan.h
  board/drivers/can_common.h
  board/drivers/fdcan.h
  board/drivers/gmlan_alt.h
  board/safety/safety_chrysler.h
  board/safety/safety_ford.h
  board/safety/safety_gm.h
  board/safety/safety_honda.h
  board/safety/safety_hyundai.h
  board/safety/safety_mazda.h
  board/safety/safety_nissan.h
  board/safety/safety_subaru.h
  board/safety/safety_tesla.h
  board/safety/safety_toyota.h
  board/safety/safety_volkswagen.h
  board/safety_declarations.h
  board/usb_protocol.h
  tests/misra/suppressions.txt
Labels: MISRA

#797 Honda: temporarily revert new address checks
  board/safety/safety_honda.h
Labels: car safety

#799 Honda: fix address checks for Alt Nidec
  board/safety/safety_honda.h
Labels: car safety

#793 Honda: add support for new Bosch LKAS_HUD msgs
  board/safety/safety_honda.h
  tests/safety/common.py
  tests/safety/test_honda.py
  tests/safety_replay/helpers.py
Labels: car safety

#807 Red Panda: add to CI with separate CAN FD test
  Jenkinsfile
  tests/automated/helpers.py
  tests/canfd/test_ci_canfd.py
Labels: tests

#806 safety: add controls heartbeat
  board/main.c
  board/main_declarations.h
  python/__init__.py
Labels: car safety

#809 Mazda: Fix CX-5 ignition
  board/drivers/can_common.h
Labels: car safety
