Repository commaai/panda, pull requests merged in 2022-08, with the labels that each got.

#897 improved HITL test reliability
  Jenkinsfile
  python/__init__.py
  requirements.txt
  tests/automated/1_program.py
  tests/automated/2_health.py
  tests/automated/3_usb_to_can.py
  tests/automated/4_can_loopback.py
  tests/automated/5_gps.py
  tests/automated/helpers.py
  tests/automated/test.sh
  tests/automated/timeout.py
  tests/canfd/test_canfd.py
Labels: tests

#965 Hyundai: support camera-based SCC cars
  board/safety/safety_hyundai.h
  python/__init__.py
  tests/safety/test_hyundai.py
  tests/safety/test_hyundai_hda2.py
Labels: car safety

#1012 Chrysler: cleanup + prep for Ram HD
  board/safety/safety_chrysler.h
  tests/safety/SConscript
Labels: car safety

#1013 safety: refactor steering safety checks
  board/safety.h
  board/safety/safety_hyundai_hda2.h
  board/safety/safety_subaru.h
  board/safety/safety_subaru_legacy.h
  board/safety/safety_volkswagen_mqb.h
  board/safety/safety_volkswagen_pq.h
  board/safety_declarations.h
  tests/misra/install.sh
  tests/safety/common.py
Labels: car safety, refactor

#1018 safety: abstract motor torque limit checks
  board/safety.h
  board/safety/safety_chrysler.h
  board/safety/safety_hyundai.h
  board/safety/safety_hyundai_hda2.h
  board/safety/safety_mazda.h
  board/safety/safety_subaru.h
  board/safety/safety_subaru_legacy.h
  board/safety/safety_toyota.h
  board/safety/safety_volkswagen_mqb.h
  board/safety/safety_volkswagen_pq.h
  board/safety_declarations.h
Labels: car safety

#1010 Chrysler: add Ram HD support
  Dockerfile.panda
  board/safety/safety_chrysler.h
  python/__init__.py
  tests/safety/test_chrysler.py
Labels: car safety

#1027 Hyundai: rename HDA2 platform to CANFD
  board/safety.h
  board/safety/safety_hyundai_canfd.h
  python/__init__.py
  tests/safety/test_hyundai_canfd.py
Labels: car safety

#1025 safety: common cruise checks
  board/safety.h
  board/safety/safety_chrysler.h
  board/safety/safety_ford.h
  board/safety/safety_mazda.h
  board/safety/safety_nissan.h
  board/safety/safety_subaru.h
  board/safety/safety_subaru_legacy.h
  board/safety/safety_tesla.h
  board/safety/safety_toyota.h
  board/safety/safety_volkswagen_mqb.h
  board/safety/safety_volkswagen_pq.h
  board/safety_declarations.h
Labels: car safety, refactor

#1020 Minimum uptime for deep sleep
  board/main.c
Labels: bug, fix

#1019 Only allow deep sleep if there's been ignition before
  board/main.c
  board/main_declarations.h
Labels: bug, fix

#962 GM: Add support for cam harness & stock ACC
  board/safety/safety_gm.h
  python/__init__.py
  tests/safety/test_gm.py
Labels: car safety

#1032 one flash.sh for both H7 and F4
  board/README.md
  board/flash.sh
  board/flash_h7.sh
  python/__init__.py
Labels: enhancement

#1033 CI tests: check app against known good bootstub first
  python/__init__.py
  tests/automated/1_program.py
  tests/automated/helpers.py
  tests/automated/known_bootstub/bootstub.panda.bin
  tests/automated/known_bootstub/bootstub.panda_h7.bin
Labels: tests

#1041 CI: add hardware reflasher
  Jenkinsfile
  tests/ci_reset_hw.py
  tests/libs/resetter.py
Labels: enhancement, tests

#1045 Toyota: match openpilot standstill check
  board/safety/safety_toyota.h
  tests/safety/test_toyota.py
Labels: car safety
