Repository commaai/panda, pull requests merged in 2022-04, with the labels that each got.

#900 safety tests: rename interceptor message functions
  tests/safety/common.py
  tests/safety/test_honda.py
  tests/safety/test_toyota.py
Labels: tests

#912 Dos: PWM based camera signals
  board/boards/dos.h
  board/stm32fx/clock_source.h
Labels: enhancement

#914 GM: allow active regen bit when gas is pressed
  board/safety/safety_gm.h
Labels: car safety

#915 Honda: fix interceptor pressed mismatch
  board/safety/safety_honda.h
  tests/safety/test_honda.py
Labels: bug, car safety

#910 Make safety_param unsigned
  board/health.h
  board/main.c
  board/safety.h
  board/safety/safety_body.h
  board/safety/safety_chrysler.h
  board/safety/safety_defaults.h
  board/safety/safety_gm.h
  board/safety/safety_honda.h
  board/safety/safety_hyundai.h
  board/safety/safety_mazda.h
  board/safety/safety_nissan.h
  board/safety/safety_subaru.h
  board/safety/safety_tesla.h
  board/safety/safety_toyota.h
  board/safety/safety_volkswagen_mqb.h
  board/safety/safety_volkswagen_pq.h
  board/safety_declarations.h
  board/usb_comms.h
  python/__init__.py
  tests/safety/libpandasafety_py.py
Labels: refactor

#917 Hyundai: enforce recent button press to allow controls with PCM
  board/safety/safety_hyundai.h
  tests/safety/test_hyundai.py
Labels: car safety

#923 Hyundai: enforce recent button press to allow controls with PCM
  board/safety/safety_hyundai.h
  tests/safety/test_hyundai.py
Labels: car safety

#925 Toyota: add safety param flag for alt brake message
  board/safety/safety_toyota.h
  python/__init__.py
  tests/safety/common.py
  tests/safety/test_toyota.py
Labels: car safety

#927 Toyota: stock longitudinal safety
  board/safety/safety_toyota.h
  python/__init__.py
  tests/safety/common.py
  tests/safety/test_toyota.py
Labels: car safety
