Repository commaai/panda, pull requests merged in 2022-01, with the labels that each got.

#813 GM Switch to AcceleratorPedal2 for pedal pressed
  board/safety/safety_gm.h
  tests/safety/test_gm.py
Labels: car safety

#820 Toyota: add AEB message TX checks
  board/safety/safety_toyota.h
  tests/safety/test_toyota.py
Labels: car safety

#831 BP: fix gps enable pin
  board/boards/black.h
Labels: bug, fix

#841 Add blocked message counter to health packet
  board/drivers/can_common.h
  board/main.c
  board/safety.h
  board/usb_comms.h
  python/__init__.py
Labels: enhancement

#840 Honda: fix controls mismatch for stock PCM configs
  board/safety/safety_honda.h
  tests/safety/common.py
  tests/safety/test_honda.py
Labels: car safety
