Repository commaai/panda, pull requests merged in 2022-10, with the labels that each got.

#1084 Hyundai: fix addr check race condition
  board/safety/safety_hyundai.h
Labels: bug, car safety

#1085 Ford: allow sending buttons msg to camera
  board/safety/safety_ford.h
  tests/safety/test_ford.py
Labels: car safety

#1095 Hyundai: steering fault bit safety
  board/safety/safety_hyundai.h
  tests/safety/test_hyundai.py
Labels: car safety

#1094 Torque request bit: support multiple invalid frames
  board/safety.h
  board/safety/safety_toyota.h
  board/safety_declarations.h
  tests/safety/common.py
  tests/safety/test.c
  tests/safety/test_toyota.py
Labels: car safety

#1097 Hyundai: move shared definitions to a separate file
  board/safety/safety_hyundai.h
  board/safety/safety_hyundai_canfd.h
  board/safety/safety_hyundai_common.h
  tests/safety/hyundai_common.py
  tests/safety/test_hyundai.py
  tests/safety/test_hyundai_canfd.py
Labels: car safety, refactor

#1096 Hyundai: HDA2 longitudinal control support
  Dockerfile.panda
  board/safety/safety_hyundai_canfd.h
  python/__init__.py
  tests/safety/common.py
  tests/safety/hyundai_common.py
  tests/safety/test_hyundai.py
  tests/safety/test_hyundai_canfd.py
Labels: car safety

#1100 Hyundai: support non-HDA2 EV gas signals
  board/safety/safety_hyundai.h
  board/safety/safety_hyundai_canfd.h
  tests/safety/test_hyundai_canfd.py
Labels: car safety

#1105 GM: match ECM standstill check
  board/safety/safety_gm.h
  tests/safety/test_gm.py
Labels: car safety

#1112 Hyundai CAN-FD: use cruise signals from SCC ECU
  board/safety/safety_hyundai_canfd.h
  tests/safety/test_hyundai_canfd.py
Labels: car safety

#1121 Remove pre-enable state
  board/safety/safety_gm.h
  board/safety/safety_honda.h
  tests/safety/test_gm.py
  tests/safety/test_honda.py
Labels: car safety
