Repository commaai/panda, pull requests merged in 2022-11, with the labels that each got.

#1014 GM: longitudinal support for camera-integrated cars
  board/safety/safety_gm.h
  python/__init__.py
  tests/safety/common.py
  tests/safety/test_gm.py
Labels: car safety

#920 VW MQB: Longitudinal safety
  Dockerfile.panda
  board/safety/safety_volkswagen_common.h
  board/safety/safety_volkswagen_mqb.h
  board/safety/safety_volkswagen_pq.h
  tests/safety/common.py
  tests/safety/test_volkswagen_mqb.py
  tests/safety_replay/test_safety_replay.py
Labels: car safety

#1125 bugfix: D2 SRAM clocks and CRun CPU state
  board/stm32h7/clock.h
  board/stm32h7/stm32h7x5_flash.ld
Labels: fix

#1138 GM Camera: use ECM brake pressed bit
  board/safety/safety_gm.h
  tests/safety/test_gm.py
Labels: car safety

#1152 Hyundai: fix button enable controls mismatch
  board/safety/safety_hyundai_common.h
  tests/safety/hyundai_common.py
Labels: bug, car safety
