Repository commaai/panda, pull requests merged in 2022-02, with the labels that each got.

#845 GM ignition: remove signal with noise and false positives
  board/drivers/can_common.h
Labels: fix

#844 Honda: match openpilot brake pressed check
  board/safety/safety_honda.h
Labels: car safety

#846 GM: change from brake threshold to Brake_Pressed bit
  board/safety/safety_gm.h
  tests/safety/test_gm.py
Labels: car safety

#817 Split linker files for STMs F2 and F4
  board/SConscript
  board/stm32fx/stm32f2_flash.ld
  board/stm32fx/stm32f4_flash.ld
  board/stm32h7/stm32h7x5_flash.ld
Labels: enhancement

#858 Honda: revert back to button enable for Nidec
  board/safety/safety_honda.h
  tests/safety/test_honda.py
Labels: car safety

#861 CAN FD: adjust bit timing settings to SAE specifications J2284-4 and J2284-5
  board/drivers/bxcan.h
  board/drivers/fdcan.h
  board/stm32h7/llfdcan.h
Labels: enhancement

#862 HITL tests: change testing speeds
  tests/automated/3_usb_to_can.py
  tests/automated/4_can_loopback.py
Labels: tests
