Repository commaai/panda, pull requests merged in 2022-06, with the labels that each got.

#963 Honda Bosch: consider correct bus for buttons
  board/safety/safety_honda.h
Labels: bug, car safety

#961 safety replay: set alternative experience
  tests/safety_replay/replay_drive.py
  tests/safety_replay/test_safety_replay.py
Labels: tests

#942 Safety for radarless Honda
  Dockerfile.panda
  board/safety/safety_honda.h
  python/__init__.py
  tests/safety/common.py
  tests/safety/test_honda.py
  tests/safety_replay/test_safety_replay.py
Labels: car safety

#972 EV6: adjust steering thresholds
  board/safety.h
  board/safety/safety_hyundai_hda2.h
  tests/safety/test_hyundai_hda2.py
Labels: car safety
