Repository commaai/panda, pull requests merged in 2022-03, with the labels that each got.

#832 Deep sleep mode for pandas
  board/config.h
  board/drivers/usb.h
  board/faults.h
  board/main.c
  board/main_declarations.h
  board/stm32fx/llexti.h
  board/stm32fx/llrtc.h
  board/stm32fx/stm32fx_config.h
  board/stm32h7/llexti.h
  board/stm32h7/llrtc.h
  board/stm32h7/stm32h7_config.h
  board/usb_comms.h
  python/__init__.py
Labels: enhancement

#870 Hyundai: only allow cancel while cruise is enabled
  board/safety/safety_hyundai.h
  tests/safety/test_hyundai.py
Labels: car safety

#872 Honda Nidec: match openpilot engagement behavior
  board/safety/safety_honda.h
  tests/safety/test_honda.py
Labels: car safety

#874 Honda: enter controls on falling edge of button presses
  board/safety/safety_honda.h
  tests/safety/test_honda.py
Labels: car safety

#875 Hyundai: enter controls on falling edge of buttons
  board/safety.h
  board/safety/safety_honda.h
  board/safety/safety_hyundai.h
  board/safety_declarations.h
  tests/safety/test_hyundai.py
Labels: car safety

#876 GM: enters controls on falling edge of button presses
  board/safety/safety_gm.h
  tests/safety/test_gm.py
Labels: car safety

#877 Nissan + Tesla: don't exit controls allowed on blocked message
  board/safety/safety_nissan.h
  board/safety/safety_tesla.h
  tests/safety/test_nissan.py
  tests/safety/test_tesla.py
Labels: car safety

#880 Tesla: only allow cancel button
  board/safety/safety_tesla.h
  tests/safety/test_tesla.py
Labels: car safety

#887 Toyota: increase torque rate limit
  board/safety/safety_toyota.h
  tests/safety/test_toyota.py
Labels: car safety

#889 Honda Nidec: ACC_HUD safety
  board/safety/safety_honda.h
  tests/safety/test_honda.py
Labels: car safety

#890 Tesla: longitudinal safety
  board/safety/safety_tesla.h
  tests/safety/test_tesla.py
Labels: car safety

#893 safety tests: rename gas/brake message functions
  tests/safety/common.py
  tests/safety/test_chrysler.py
  tests/safety/test_gm.py
  tests/safety/test_honda.py
  tests/safety/test_hyundai.py
  tests/safety/test_mazda.py
  tests/safety/test_nissan.py
  tests/safety/test_subaru.py
  tests/safety/test_subaru_legacy.py
  tests/safety/test_tesla.py
  tests/safety/test_toyota.py
  tests/safety/test_volkswagen_mqb.py
  tests/safety/test_volkswagen_pq.py
Labels: tests

#901 add safety mode for body
  board/safety.h
  board/safety/safety_body.h
  python/__init__.py
Labels: car safety

#903 body: add RX checks
  board/safety/safety_body.h
  tests/safety/test.c
Labels: car safety
