Repository commaai/panda, pull requests merged in 2022-05, with the labels that each got.

#933 Hyundai: use GET_BIT and fix safety on incorrect bits
  board/safety/safety_hyundai.h
  tests/safety/test_hyundai.py
Labels: car safety

#934 Toyota: forward ACC messages if stock longitudinal
  board/safety/safety_toyota.h
  tests/safety/test_toyota.py
Labels: car safety

#937 Tesla: allow forwarding of stock AEB
  board/safety/safety_tesla.h
  tests/safety/test_tesla.py
Labels: enhancement, car safety

#940 Toyota: check STEER_REQUEST bit
  board/safety/safety_toyota.h
  tests/safety/common.py
  tests/safety/test_chrysler.py
  tests/safety/test_gm.py
  tests/safety/test_hyundai.py
  tests/safety/test_mazda.py
  tests/safety/test_subaru.py
  tests/safety/test_subaru_legacy.py
  tests/safety/test_toyota.py
Labels: car safety

#944 safety: move controls_allowed and relay malfunction reset
  board/safety.h
  board/safety/safety_body.h
  board/safety/safety_chrysler.h
  board/safety/safety_defaults.h
  board/safety/safety_gm.h
  board/safety/safety_honda.h
  board/safety/safety_hyundai.h
  board/safety/safety_mazda.h
  board/safety/safety_nissan.h
  board/safety/safety_subaru.h
  board/safety/safety_tesla.h
  board/safety/safety_toyota.h
  board/safety/safety_volkswagen_mqb.h
  board/safety/safety_volkswagen_pq.h
Labels: car safety

#905 Kia EV6
  board/drivers/fdcan.h
  board/safety.h
  board/safety/safety_hyundai_hda2.h
  board/safety/safety_volkswagen_mqb.h
  board/safety_declarations.h
  python/__init__.py
  tests/misra/test_misra.sh
  tests/safety/common.py
  tests/safety/test.c
  tests/safety/test_hyundai_hda2.py
Labels: car safety

#947 Hyundai: check CF_Lkas_ActToi bit
  board/safety/safety_hyundai.h
  tests/safety/test_hyundai.py
Labels: car safety

#951 safety tests: create classes for common torque steering tests
  tests/safety/common.py
  tests/safety/test_chrysler.py
  tests/safety/test_toyota.py
Labels: refactor, tests

#952 Mazda: fix steering safety and add tests
  board/safety/safety_mazda.h
  tests/safety/test_mazda.py
Labels: bug, car safety, tests

#950 safety tests: use base class for common driver steering torque safety tests
  tests/safety/common.py
  tests/safety/test_gm.py
  tests/safety/test_hyundai.py
  tests/safety/test_hyundai_hda2.py
  tests/safety/test_subaru.py
  tests/safety/test_subaru_legacy.py
  tests/safety/test_volkswagen_mqb.py
  tests/safety/test_volkswagen_pq.py
Labels: car safety
