Repository commaai/panda, pull requests merged in 2023-08, with the labels that each got.

#1544 Honda: remove duplicated relay transition time check
  board/safety/safety_honda.h
Labels: car safety, cleanup

#1547 panda jungle
  .gitignore
  Dockerfile
  SConscript
  __init__.py
  board/bootstub.c
  board/config.h
  board/drivers/can_common.h
  board/drivers/fdcan.h
  board/drivers/gpio.h
  board/jungle/README.md
  board/jungle/SConscript
  board/jungle/__init__.py
  board/jungle/boards/board_declarations.h
  board/jungle/boards/board_v1.h
  board/jungle/boards/board_v2.h
  board/jungle/flash.py
  board/jungle/jungle_health.h
  board/jungle/main.c
  board/jungle/main_comms.h
  board/jungle/recover.py
  board/jungle/scripts/can_health.py
  board/jungle/scripts/can_printer.py
  board/jungle/scripts/debug_console.py
  board/jungle/scripts/echo_loopback_test.py
  board/jungle/scripts/get_version.py
  board/jungle/scripts/health_test.py
  board/jungle/scripts/loopback_test.py
  board/jungle/scripts/panda_identification_test.py
  board/jungle/scripts/start.py
  board/jungle/stm32fx/board.h
  board/jungle/stm32h7/board.h
  board/jungle/stm32h7/lladc.h
  board/stm32fx/peripherals.h
  board/stm32fx/stm32fx_config.h
  board/stm32h7/peripherals.h
  board/stm32h7/stm32h7_config.h
  python/__init__.py
  requirements.txt
  tests/bulk_write_test.py
  tests/canfd/test_canfd.py
  tests/hitl/2_health.py
  tests/hitl/conftest.py
  tests/message_drop_test.py
  tests/pedal/test_pedal.py
  tests/setup_device_ci.sh
Labels: refactor

#1560 In-circuit debugging
  board/debug/README.md
  board/debug/debug_h7.sh
  board/stm32h7/stm32h7_config.h
Labels: enhancement

#1573 GM: clean up longitudinal safety test
  tests/safety/test_gm.py
Labels: car safety, tests

#1537 Safety Tests: Create common gas brake safety test
  tests/safety/common.py
Labels: car safety, cleanup

#1500 Subaru: Global gen1 longitudinal safety
  board/safety/safety_subaru.h
  python/__init__.py
  tests/safety/common.py
  tests/safety/test_subaru.py
Labels: car safety

#1584 Hyundai CAN FD: fix PCM cruise check
  board/safety/safety_hyundai_canfd.h
Labels: car safety, bugfix

#1586 Hyundai: match openpilot standstill check
  board/safety/safety_hyundai.h
  board/safety/safety_hyundai_canfd.h
  board/safety/safety_hyundai_common.h
  tests/safety/test_hyundai.py
  tests/safety/test_hyundai_canfd.py
Labels: car safety

#1591 body: set vehicle_moving
  board/safety/safety_body.h
Labels: car safety

#1602 Subaru: add new angle LKAS message definitions
  board/safety/safety_subaru.h
  tests/safety/test_subaru.py
Labels: car safety

#1607 Honda: match openpilot button enable check
  board/safety/safety_honda.h
  tests/safety/test_honda.py
Labels: bug, car safety

#1620 Hyundai CAN FD: fix boolean types in fwd hook
  board/safety/safety_hyundai_canfd.h
Labels: car safety, cleanup

#1504 Hyundai CAN-FD: Alternate `LKAS` steering message
  board/safety/safety_hyundai_canfd.h
  python/__init__.py
  tests/safety/test_hyundai_canfd.py
Labels: car safety

#1613 Subaru: add steer req bit test
  board/safety/safety_subaru.h
  tests/safety/test_subaru.py
Labels: car safety
