Repository commaai/panda, pull requests merged in 2023-04, with the labels that each got.

#1319 IsoTpMessage: fix rx_len sanity checks
  python/uds.py
Labels: bugfix

#1315 IsoTpMessage: check CAN frame length
  python/uds.py
Labels: bugfix

#1320 IsoTpMessage: don't skip a byte when sending consecutive frames to subaddress
  python/uds.py
Labels: bugfix

#1247 VW: Allow inactive accel values at all times
  board/safety.h
  tests/safety/common.py
  tests/safety/test_volkswagen_mqb.py
Labels: car safety, bugfix

#1335 Dos fan fix
  board/boards/dos.h
  board/drivers/fan.h
  python/__init__.py
  tests/fan_overshoot_test.py
Labels: enhancement

#1330 HITL fan test
  Jenkinsfile
  tests/hitl/7_embedded.py
Labels: tests

#1332 H7: fix CAN FD IRQ rate
  board/stm32h7/stm32h7_config.h
Labels: bugfix

#1360 safety: don't check out of bounds array item
  board/safety.h
  board/safety_declarations.h
Labels: car safety, bugfix

#1361 safety: make addr index getter more explicit
  board/safety.h
Labels: car safety, refactor

#1365 Ford: check 2nd speed message
  board/safety/safety_ford.h
  tests/safety/test_ford.py
Labels: car safety

#1358 Ford: check second speed for mismatches
  board/safety/safety_ford.h
  tests/safety/test_ford.py
Labels: car safety

#1368 safety: use max_limit_check
  board/safety.h
Labels: car safety, cleanup

#1371 Ford: add subtests
  tests/safety/test_ford.py
Labels: enhancement, car safety, tests

#1370 ford: allow 0 curvature when controls is allowed if not steering
  board/safety/safety_ford.h
  tests/safety/test_ford.py
Labels: car safety, bugfix

#1373 safety: use max_limit_check helper in angle safety
  board/safety.h
Labels: car safety, cleanup

#1369 safety: common angle safety function
  board/safety.h
  board/safety/safety_ford.h
  board/safety_declarations.h
Labels: car safety, cleanup

#1250 safety: reset torque_meas on init properly
  board/safety.h
  tests/libpanda/safety_helpers.h
  tests/libpanda/safety_helpers.py
  tests/safety/common.py
Labels: bug, car safety, fix
