Repository commaai/panda, pull requests merged in 2023-12, with the labels that each got.

#1756 run safety tests in parallel
  tests/safety/test.sh
Labels: enhancement, tests

#1757 Toyota: rename LTA torque wind down signal
  Dockerfile
  board/safety/safety_toyota.h
  tests/safety/test_toyota.py
Labels: car safety, cleanup

#1762 safety: macro to update vehicle speed
  board/safety/safety_ford.h
  board/safety/safety_nissan.h
  board/safety/safety_subaru.h
  board/safety/safety_tesla.h
  board/safety_declarations.h
Labels: cleanup

#1189 Toyota: LTA steering control safety
  board/safety/safety_toyota.h
  tests/safety/common.py
  tests/safety/test_toyota.py
Labels: car safety

#1750 safety: full coverage
  board/safety.h
  tests/safety/common.py
  tests/safety/test_coverage.sh
Labels: car safety

#1771 Hyundai CAN FD: radar-SCC longitudinal test
  board/safety/safety_hyundai_canfd.h
  tests/safety/test_hyundai_canfd.py
Labels: car safety, tests

#1671 Hyundai CAN-FD Longitudinal: enable for ICE camera-SCC cars (non-HDA2)
  board/safety/safety_hyundai_canfd.h
  tests/safety/test_hyundai_canfd.py
Labels: car safety

#1774 safety tests: rename gas interceptor test
  board/safety/safety_toyota.h
  tests/safety/common.py
  tests/safety/test_honda.py
  tests/safety/test_toyota.py
Labels: tests, cleanup

#1775 safety tests: set gas interceptor counter
  tests/safety/common.py
Labels: tests

#1735 safety: add safety param for gas interceptor
  board/health.h
  board/main_comms.h
  board/safety.h
  board/safety/safety_honda.h
  board/safety/safety_toyota.h
  board/safety_declarations.h
  drivers/windows/panda_shared/panda.h
  python/__init__.py
  tests/libpanda/safety_helpers.h
  tests/libpanda/safety_helpers.py
  tests/safety/common.py
  tests/safety/test_honda.py
  tests/safety/test_toyota.py
Labels: enhancement, car safety

#1776 Ford: check predicted gas
  board/safety/safety_ford.h
  tests/safety/test_ford.py
Labels: car safety

#1781 Honda: reset prev brake switch
  board/safety/safety_honda.h
Labels: car safety, bugfix

#1767 safety: fully reset dynamic rx check fields
  board/safety.h
  board/safety_declarations.h
  tests/libpanda/safety_helpers.h
Labels: car safety, tests, bugfix
