Repository commaai/panda, pull requests merged in 2023-05, with the labels that each got.

#1374 DAS_control is on bus 2
  board/safety/safety_tesla.h
Labels: car safety, fix

#1384 Subaru: fix Impreza replay route
  tests/safety_replay/test_safety_replay.py
Labels: car safety

#1389 angle safety: add comment about rate limits at 0
  board/safety.h
Labels: car safety, bugfix

#1390 angle safety: consistent rate limit variable names
  tests/safety/common.py
  tests/safety/test_nissan.py
  tests/safety/test_tesla.py
Labels: car safety, tests, cleanup

#1392 Ford safety: more clear variable names
  board/safety.h
  board/safety/safety_ford.h
  board/safety_declarations.h
  tests/safety/test_ford.py
Labels: car safety, cleanup

#1393 Ford: remove unused function
  tests/safety/test_ford.py
Labels: car safety, cleanup

#1364 safety replay: safety tick
  tests/safety_replay/replay_drive.py
Labels: car safety, tests

#1395 Ford: test angle error speed in steering signal test
  tests/safety/test_ford.py
Labels: car safety, tests

#1396 Ford: test angle measurement
  tests/safety/test_ford.py
Labels: car safety, tests

#1398 safety tests: reset safety helper
  tests/libpanda/safety_helpers.h
  tests/libpanda/safety_helpers.py
  tests/safety/common.py
Labels: refactor, tests

#1391 safety: make vehicle_speed a sample
  board/safety.h
  board/safety/safety_ford.h
  board/safety/safety_nissan.h
  board/safety/safety_tesla.h
  board/safety_declarations.h
  tests/libpanda/safety_helpers.h
  tests/libpanda/safety_helpers.py
  tests/safety/common.py
Labels: car safety, refactor

#1399 safety tests: use rx/tx helpers
  tests/safety/common.py
  tests/safety/hyundai_common.py
  tests/safety/test_honda.py
Labels: tests, cleanup

#1258 Ford: curvature rate limits
  board/safety.h
  board/safety/safety_ford.h
  board/safety_declarations.h
  tests/safety/test_ford.py
Labels: car safety

#1400 Ford: remove safety mode from debug flag
  board/safety.h
Labels: car safety

#1397 safety utils: add ROUND helper
  board/safety.h
  board/safety/safety_ford.h
  board/safety/safety_nissan.h
  board/safety/safety_tesla.h
  board/safety_declarations.h
Labels: enhancement, car safety

#1410 H7: fix lockup on disconnected bus
  board/drivers/fdcan.h
  board/stm32h7/llfdcan.h
Labels: bugfix

#1359 Ford: add longitudinal safety
  board/safety/safety_ford.h
  python/__init__.py
  tests/safety/common.py
  tests/safety/test_ford.py
Labels: car safety

#1429 Ford: test inactive gas
  tests/safety/test_ford.py
Labels: car safety, tests, bugfix

#1428 Ford safety: prevent disable AEB
  board/safety/safety_ford.h
  tests/safety/test_ford.py
Labels: car safety
