Repository commaai/panda, pull requests merged in 2023-02, with the labels that each got.

#1236 Microsecond timer fix
  board/drivers/clock_source.h
  board/drivers/timers.h
  board/main_comms.h
  board/stm32fx/clock.h
  board/stm32fx/stm32fx_config.h
  board/stm32h7/stm32h7_config.h
  python/__init__.py
  tests/hitl/2_health.py
Labels: bug, fix, tests

#1239 GM: update steering limits
  board/safety/safety_gm.h
  tests/safety/test_gm.py
Labels: car safety

#1255 Nissan: use averaged left and right wheel speeds
  board/safety/safety_nissan.h
Labels: car safety

#1254 Angle control: match openpilot limits
  board/safety.h
  board/safety/safety_nissan.h
  board/safety/safety_tesla.h
  tests/safety/test_nissan.py
  tests/safety/test_tesla.py
Labels: enhancement, car safety, bugfix

#1259 safety tests: refactor for cars with standstill bits
  tests/safety/common.py
  tests/safety/test_ford.py
Labels: car safety

#1265 Ford: set quality flags, checksum in safety tests
  tests/safety/test_ford.py
Labels: car safety, tests
