Repository commaai/panda, pull requests merged in 2023-11, with the labels that each got.

#1701 safety test: simplify tx address check
  tests/safety/common.py
Labels: tests, cleanup

#1702 safety test: fix incorrect error message
  tests/safety/common.py
Labels: tests, bugfix

#1703 safety tests: clean up state reset
  board/safety/safety_honda.h
  board/safety/safety_tesla.h
  board/safety/safety_toyota.h
  tests/libpanda/safety_helpers.h
Labels: car safety, cleanup

#1704 Honda: add latching AEB test
  board/safety/safety_honda.h
  tests/libpanda/safety_helpers.h
  tests/libpanda/safety_helpers.py
  tests/safety/test_honda.py
Labels: car safety, tests

#1705 safety tests: safety_defaults
  tests/libpanda/libpanda_py.py
  tests/safety/common.py
  tests/safety/hyundai_common.py
  tests/safety/test_chrysler.py
  tests/safety/test_coverage.sh
  tests/safety/test_defaults.py
  tests/safety/test_ford.py
  tests/safety/test_gm.py
  tests/safety/test_honda.py
  tests/safety/test_hyundai.py
  tests/safety/test_hyundai_canfd.py
  tests/safety/test_mazda.py
  tests/safety/test_nissan.py
  tests/safety/test_subaru.py
  tests/safety/test_subaru_preglobal.py
  tests/safety/test_tesla.py
  tests/safety/test_toyota.py
  tests/safety/test_volkswagen_mqb.py
  tests/safety/test_volkswagen_pq.py
Labels: car safety, tests

#1706 safety: use CLAMP for update_counter
  board/safety.h
Labels: car safety, cleanup

#1707 safety tests: support multiple relay malfunction addresses
  board/safety/safety_ford.h
  tests/safety/common.py
  tests/safety/test_chrysler.py
  tests/safety/test_ford.py
  tests/safety/test_gm.py
  tests/safety/test_honda.py
  tests/safety/test_hyundai.py
  tests/safety/test_hyundai_canfd.py
  tests/safety/test_mazda.py
  tests/safety/test_nissan.py
  tests/safety/test_subaru.py
  tests/safety/test_subaru_preglobal.py
  tests/safety/test_tesla.py
  tests/safety/test_toyota.py
  tests/safety/test_volkswagen_mqb.py
  tests/safety/test_volkswagen_pq.py
Labels: car safety, tests

#1648 Subaru Pre-Global: Reverse driver torque signal for certain platforms
  board/safety/safety_subaru_preglobal.h
  python/__init__.py
  tests/safety/test_subaru_preglobal.py
Labels: car safety, cleanup, bugfix

#1713 Hyundai CAN: update driver braking signal
  board/safety/safety_hyundai.h
  tests/safety/test_hyundai.py
Labels: car safety

#1714 safety tests: more coverage
  board/safety/safety_ford.h
  board/safety/safety_hyundai.h
  board/safety/safety_hyundai_common.h
  board/safety/safety_volkswagen_mqb.h
  board/safety/safety_volkswagen_pq.h
Labels: car safety, tests

#1715 safety: add ELM327 safety test
  tests/safety/test_elm327.py
Labels: car safety, tests

#1716 safety: add body safety tests
  board/safety/safety_body.h
  tests/safety/common.py
  tests/safety/test_body.py
Labels: car safety, tests

#1699 safety: test coverage
  .github/workflows/test.yaml
  tests/safety/test_coverage.sh
Labels: car safety, tests

#1721 safety: use address check helper
  board/safety/safety_body.h
  board/safety/safety_chrysler.h
  board/safety/safety_ford.h
  board/safety/safety_gm.h
  board/safety/safety_honda.h
  board/safety/safety_mazda.h
  board/safety/safety_nissan.h
  board/safety/safety_subaru.h
  board/safety/safety_subaru_preglobal.h
  board/safety/safety_tesla.h
  board/safety/safety_toyota.h
  board/safety/safety_volkswagen_mqb.h
  board/safety/safety_volkswagen_pq.h
Labels: car safety, cleanup

#1724 Hyundai: fix brake pressed bitmask
  board/safety/safety_hyundai.h
  tests/safety/test_hyundai.py
Labels: car safety, bugfix

#1725 Ford: fix possible standstill mismatch
  board/safety/safety_ford.h
  tests/safety/test_ford.py
Labels: car safety, bugfix

#1723 Honda: fix alt brake address check race condition
  board/safety/safety_honda.h
  board/safety_declarations.h
  tests/safety/common.py
  tests/safety/test_honda.py
Labels: car safety, tests, bugfix

#1737 safety tests: common interceptor msg
  tests/safety/common.py
  tests/safety/test_honda.py
  tests/safety/test_toyota.py
Labels: car safety, tests, cleanup

#1752 safety replay: set angle measurement
  tests/libpanda/safety_helpers.h
  tests/libpanda/safety_helpers.py
  tests/safety_replay/helpers.py
Labels: car safety, tests

#1753 safety replay: support Nissan
  tests/safety_replay/helpers.py
Labels: car safety, tests
