Repository commaai/panda, pull requests merged in 2023-03, with the labels that each got.

#1287 Tres: fan cooldown + no stall recovery
  board/boards/black.h
  board/boards/board_declarations.h
  board/boards/dos.h
  board/boards/grey.h
  board/boards/pedal.h
  board/boards/red.h
  board/boards/red_v2.h
  board/boards/tres.h
  board/boards/uno.h
  board/boards/white.h
  board/drivers/fan.h
  board/stm32fx/llfan.h
  board/stm32h7/llfan.h
Labels: bugfix

#1298 safety tests: add common longitudinal accel class
  tests/safety/common.py
  tests/safety/hyundai_common.py
  tests/safety/test_toyota.py
  tests/safety/test_volkswagen_pq.py
Labels: car safety, tests

#1008 Honda Bosch Radarless longitudinal safety
  board/safety/safety_honda.h
  tests/safety/common.py
  tests/safety/test_honda.py
Labels: car safety

#1305 Honda tests: check endswith Base to skip test
  tests/safety/test_honda.py
Labels: tests, cleanup
