Repository commaai/panda, pull requests merged in 2023-09, with the labels that each got.

#1594 Subaru: gen2 long safety
  board/safety/safety_subaru.h
  tests/safety/common.py
  tests/safety/test_subaru.py
Labels: enhancement, car safety

#1631 VW MQB: Check steer req bit
  board/safety/safety_volkswagen_mqb.h
  tests/safety/test_volkswagen_mqb.py
Labels: car safety

#1651 Nissan: test alternate EPS bus param
  board/safety/safety_nissan.h
  tests/safety/common.py
  tests/safety/test_nissan.py
Labels: car safety

#1653 Safety: separate test for steer request bit cutting
  tests/safety/common.py
  tests/safety/test_hyundai.py
  tests/safety/test_hyundai_canfd.py
  tests/safety/test_toyota.py
Labels: car safety, tests

#1632 Subaru: add safety around cutting steer req bit
  board/safety/safety_subaru.h
  tests/safety/test_subaru.py
Labels: enhancement, car safety

#1658 Hyundai CAN FD: utilize macros for common address checks
  board/safety/safety_hyundai_canfd.h
  board/safety_declarations.h
Labels: car safety, cleanup, bugfix

#1655 Hyundai CAN: utilize macros for common address checks
  board/safety/safety_hyundai.h
Labels: car safety, cleanup

#1630 VW PQ: Check steer req bit
  board/safety/safety_volkswagen_pq.h
  tests/safety/test_volkswagen_pq.py
Labels: car safety

#1625 Safety: assert that we use the steering req bit
  tests/safety/common.py
  tests/safety/test_mazda.py
Labels: car safety, tests

#1662 GM: change ignition signal
  board/drivers/can_common.h
Labels: car safety, bugfix
