Repository commaai/panda, pull requests merged in 2024-02, with the labels that each got.

#1863 fix pytest loop
  pyproject.toml
Labels: bugfix

#1870 Toyota: check ACC_CONTROL for relay malfunction
  board/safety/safety_toyota.h
  tests/safety/test_toyota.py
Labels: enhancement, car safety

#1871 Toyota: longitudinal msgs behind safety param
  board/safety/safety_toyota.h
  tests/safety/test_toyota.py
Labels: enhancement, car safety

#1611 Toyota: radar disable safety
  board/safety/safety_toyota.h
  tests/safety/test_toyota.py
Labels: car safety

#760 Universal Measurement and Calibration Protocol (XCP) python library
  python/xcp.py
Labels: enhancement
